.dayBanner {
    background: #032d60;
    color: white;
    text-align: center;
}

.dayBody {
    line-height: 2;
    min-height: 55px;
    color: white;
    font-family: 'SalesforceSans-Regular';
    font-size: 32px;
}

.slds-card {
    max-width: 450px;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 14px;
}
