.wrapper {
    background: white;
}

.slds-card {
    margin-bottom: 1rem;
    min-height: 370px;
    min-width: 280px;
    background-color: #cfe9fe;
    font-family: 'SalesforceSans-Regular';
}
.slds-card__header {
    font-family: 'ITCAvantGardePro-Demi';
}
img {
    min-height: 80px;
    min-width: 80px;
}
.body {
    text-align: left;
}
@media (min-width: 1382px) {
    .slds-large-size_1-of-4 {
        width: 25%;
    }
}
.slds-card:hover{
    background-color: #fff;
}

.slds-card:hover::after {
    content: 'Get Started';
    font-size: medium;
    font-weight: bold;
    color: #032d60;
    font-family: 'SalesforceSans-Regular';
}
