.wrapper {
    background: #effafb;
    min-height: 220px;
}
.title {
    padding-top: 28px;
}
.combo {
    background: #ffffff;
}
.slds-input {
    background: #ffffff !important;
}
.terms-conditions {
    font-size: 10px;
    text-align: left;
}
