.wrapper {
    background: #ffffff;
    min-height: 460px;
}
.title {
    font-family: 'ITCAvantGardePro-Demi';
    padding-top: 18px;
    color: #032d60;
}
.combo {
    background: #ffffff;
}
.slds-input {
    background: #ffffff !important;
}
.terms-conditions {
    font-size: 10px;
    text-align: left;
}
.content {
    min-height: 400px;
    background-size: cover;
    font-family: 'SalesforceSans-Regular';
}
.name {
    color: #1c96ff;
}
