.wrapper {
    background: #ffffff;
    min-height: 220px;
}
.title {
    font-family: 'TrailheadMedium_112816';
    padding-top: 18px;
    color:#032D60;
}
.combo {
    background: #ffffff;
}
.slds-input {
    background: #ffffff !important;
}
.terms-conditions {
    font-size: 10px;
    text-align: left;
}
.content {
    min-height: 400px;
    background-size: cover;
    font-family: 'SalesforceSans-Regular';
}
