.dayBanner {
    background: #011a6a;
    color: white;
    text-align: center;
}

.title {
    font-family: 'Neutraface';
    font-size: 24px;
}

.dayBody {
    line-height: 2;
}

.slds-card {
    min-width: 275px;
    margin-bottom: 1rem;
}

.consistent-height {
    min-height: 250px;
    text-align: left;
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-margin {
    margin-right: 5px;
}
